
<h1>Hogwarts</h1>

<body>

<% for student in @students %>
<p>First Name: <%= student.first_name %> </p>
<p>Surname: <%= student.surname %> </p>
<p>House: <%= student.house %> </p>
<p>Age: <%= student.age %> </p>

<% end %> 
</body>