<h1>Sorting Hat</h1>
<form action="/students/" method="post">

<label>First Name:
<input type="text" name="first_name">
</label>
<label>Surname:
<input type="text" name="surname">
</label>
<label>age:
<input type="text" name="age">
</label>

<label>
Select a house 
<select name="house_id">
<option value="1">Gryffindor</option>
<option value="2">Ravenclaw </option>
<option value="3">Hufflepuff</option>
<option value="4">Slytherin</option>
</select>
</label>

<input type="submit" value="Sorting Hat">
</form>